<!DOCTYPE html>
<html>
  <head>
    <title>ARVO Auth</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="certificate">
      <img src="/images/certificate.png" alt="certificate" />
    </div>
    <div class="btnrow">
      <h1 class="paintingname">Cosmic Concierge</h1>
      <button class="claimnow">Claim Now ></button>
    </div>
    <nav class="navbar">
      <div id="header-product" class="nav-header">Product Image</div>
      <div id="header-description" class="nav-header">Description</div>
      <div id="header-artist" class="nav-header">About Artist</div>
    </nav>
    <div class="line-nav">
      <div class="line-nav-line"></div>
    </div>

    <div id="content-product" class="content-section">
      <div id="carousel" class="carousel">
        <div class="carousel-images">
          <img
            src="/images/art2.png"
            alt="Image 1"
            class="carousel-image"
          />
          <img
            src="/images/art1.png"
            alt="Image 2"
            class="carousel-image"
          />
        </div>
      </div>
    </div>
    <div id="content-description" class="content-section" style="display: none">
      <p class="des-content">
        The painting itself was slowly built over two weeks in layers of poured
        oil. Once dry the collage elements came in to contrast the illusion of a
        deep night sky with material and sculptural formality of surface. The
        palette is predominantly blue and pink with accents of sap and daiquiri
        green and neutral tones of gold and sepia beige. The collage elements
        include staples, elastic, postcards, wrapping paper and tapestry.
      </p>
      <p class="des-content-bold">
        <b>Medium Used: </b> Oil and Collage on Sintra Board
      </p>
    </div>
    <div id="content-artist" class="content-section" style="display: none">
      <div class="abt-content">
        <img src="/images/art3.png" alt="" class="abt-art" />
        <div class="abt-paras">
          <b style="font-size: 35px"> Shelton Walsmith | United States </b>
          <p
            style="
              font-size: 40px;
              color: rgb(123, 121, 121);
              line-height: 1.5;
              margin: 0px 40px 0px 40px;
            "
          >
            A body of work should not be a cadaver evidencing life that was but
            rather the flash-point for life which ignites anew on each renewed
            encounter.
          </p>
          <p
            style="
              font-size: 40px;
              color: rgb(123, 121, 121);
              line-height: 1.5;
              margin: 0px 40px 0px 40px;
            "
          >
            <b>Medium Used: </b> Oil and Collage on Sintra Board
          </p>
        </div>
      </div>
    </div>
    <div style="margin: 60px 0px 50px 30px">
      <h1 style="font-size: 50px">Painting's Digital Legacy.</h1>
      <p style="font-size: 40px; font-weight: 600">
        Tracing Origins, Authenticating Ownership:
      </p>
    </div>
    <div
      style="display: flex; flex-direction: row; justify-content: space-evenly"
    >
      <div>
        <p class="date-nft">12/05/2023</p>
        <p class="date-nft-second">12/05/2023</p>
        <p class="date-nft-third">12/05/2023</p>
      </div>
      <div>
        <img src="/images/nfttimeline.png" alt="" />
      </div>
      <div>
        <div class="nft-text">
          <b> Art Creation </b>
          <p>Shelton Walsmith | United States</p>
        </div>
        <div class="nft-text-second">
          <b> NFT Created </b>
          <p>ARVO</p>
        </div>
        <div class="nft-text-third">
          <b>First Exhibition </b>
          <p>Singapore Art Gallery</p>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center">
      <button class="clm-end-btn">Claim Now ></button>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
